extends layout

block content
  h1 Login
  form(action="/login", method="post") 
    label(for="fmail") Email 
    br
    input(type="text", id="fmail", name="fmail")
    br 
    br
    label(for="fpass") Contraseña 
    br
    input(type="text", id="fpass", name="fpass")
    br
    input(type="submit", value="Enviar")
    br
    br
    br
    a(href="/") Ir al home

